<div class="app">
  <div class="app__title"> <small>{{title}}</small> </div>
  <div class="toDoApp">
    <h5 class="toDoApp__title text-monospace">Add new things To Do:</h5>
    <app-input class="toDoApp__input" (sendItem)="sendItem($event)"></app-input>
    <div class="toDoApp__list" *ngIf="listItems.length; else elseBlock">
      <hr>
      <span class="toDoApp__list__title text-monospace">Things to do:</span>
      <app-list-item 
        *ngFor="let item of listItems" 
        [listItem]="item"
        (renameItem)="renameItem($event)"
        (deleteItem)="deleteItem($event)"
        (completeItem)="completeItem($event)"
      ></app-list-item>
    </div>
    <ng-template #elseBlock>
      <div class="toDoApp__list__empty text-monospace">
        <p>Nothing on the list</p>
        <p> <small>Rest a bit</small> </p>
      </div>
      
    </ng-template>
  </div>
</div>

